@import "./variables.scss";

:root {
  font-family: $font-family-primary;
  line-height: $line-height-normal;
  font-weight: $font-weight-normal;
  
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $color-dark-1;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
  
  @media (max-width: 480px) {
    height: auto;
    min-height: 100vh;
    overflow: visible;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

