.App {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  @media (max-width: 480px) {
    height: auto;
    min-height: 100vh;
    overflow: visible;
  }
}

* {
  box-sizing: border-box;
}

